.btn {
  justify-content: center;
  text-align:center;
  margin:30px 0 0 0;
}

.btn a {
  font-family: "Muli", sans-serif;
  margin-top: 0.3rem;
  border: 1px solid;
  border-color: $color-secundario;
  padding: 0.3rem 3rem;
  font-size: 1rem;
  color: $color-secundario;
}


.btn a:hover{
  font-family: "Muli", sans-serif;
  margin-top: 0.3rem;
  background-color:$color-secundario;
  border-color: $color-blanco;
  padding: 0.3rem 3rem;
  font-size: 1rem;
  color: $color-blanco;
  cursor:pointer;
  -webkit-transition: all 0.7s;
  -moz-transition: all 0.7s;
  transition: all 0.7s;
}

@media all and (min-width: $desktop-width) {
  .btn a {
    margin-top: 0.5rem;
    padding: 0.5rem 1rem;
    font-size: 1rem;
  }
  .btn a:hover{
    margin-top: 0.5rem;
    padding: 0.5rem 1rem;
    font-size: 1rem;
  }
}
