h1 {
	font-family: 'Raleway', sans-serif;
  float: center;
  font-size: 1.3rem;
  font-weight: 600;
  color:$color-secundario;
  text-align: center;
  text-transform: uppercase;
}

h2 {
	font-family: 'Raleway', sans-serif;
  font-size: 1.25rem;
  font-weight: 500;
  color:$color-principal;
  text-align: center;
}

h3 {
	font-size: 1.25rem;
	font-family:'Raleway', sans-serif;
	color:$color-secundario;
  text-align:center;
}

h4 {
	font-size: 1.2rem;
	font-family: 'Raleway', sans-serif;
  color:$color-principal;
  text-align:center;

}

h5 {
	font-size: 1rem;
	font-family: 'Raleway', sans-serif;
  color:$color-azulclaro;
  text-align:center;
}

h6 {
	font-size: 1rem;
	font-family: 'Raleway', sans-serif;
	color: $color-blanco;
}

@media all and (min-width: $tablet-width) {
h1 {
  font-size: 1.5rem;
}

h2 {
  font-size: 1.25rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 1.2rem;

}

h5 {
  font-size: 1rem;
}

h6 {
  font-size: 1rem;
}
}

@media all and (min-width: $desktop-width) {
h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.50rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.25rem;

}

h5 {
  font-size: 1.1rem;
}

h6 {
  font-size: 1.1rem;
}
}