.header {
	overflow: hidden;
	background-color: #fff;
}
.logo {
	font-size: 1.25rem;
	font-family: 'Muli', sans-serif;
	float: left;
	color: #002025;
}
.logo a {
	color:#002025;
}
@media all and (min-width: 1024px) {
	.logo{
		font-size: 1.5rem;
	}
}

.menu-desktop{
	display: none;
}
@media all and (min-width: 1024px) {
	.menu-desktop{
		display: block;
		float: right;
	}
}
.menu-item {
	font-family: 'Muli', sans-serif;
	color: #002025;
	font-weight: 400;
	font-size: 1rem;
	margin-left: 1.5rem;
	letter-spacing: 1px;
	text-transform: uppercase;
	display: inline-block;
	padding-top:7px;
}

.menu-item:hover {
	color: #ff4444;
	font-weight: 500;
	text-decoration: none;
}
.menu-item.active {
	color: #002025;
}