.logoHeader {
	margin-left:5%;
    text-align:center;
    margin-top:0.8rem;
    visibility:hidden;
}

.logo {
	margin:0 0 50px 0;
	text-align: center;	
	padding-top: 3rem;
}

.logoProducto {
    text-align:center;
    margin-top:0.9rem;
}

.logoFooter {
	margin-top:0.6rem;
}

@media all and (min-width: $desktop-width) {
.logoHeader {
    width: 10rem;
    float: left;
    margin-top:0.9rem;
    visibility:visible;
  }

.logo {
    margin:0 0 50px 0;
    text-align: center; 
    padding-top: 13rem;
    }
}
