@media all and (max-width: 1023px) {
  .visible-xs {
    display: block;
  }
  // NAV-MOBILE
  .menu-mobile {
    position: fixed;
    height: 30%;
    top: 0;
    right: 0;
    width: 100%;
    border-bottom:2px solid $color-secundario;
    background: $color-gris;
    box-sizing: border-box;
    transition: .3s ease-in-out;
    z-index: 1;
  }
  .menu-mobile.closed{
    right: -100%;
  }
  .menu-mobile .btn-anim-three{
    position: fixed;
    top: 8px;
    right: 0px;
  }
  .menu-mobile .nav {
    padding: 0;
    margin-top: 50px;
  }
  .menu-mobile .nav-menu > li {
    list-style: none;
  }
  .menu-mobile .nav-menu > li > a{
    list-style: none;
    font-size: 20px;
    font-weight: 300;
    color: $color-principal;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
  }

.menu-mobile .nav-menu > li > a:hover{
    color: $color-blanco;
}
  .btn-anim-three{
      background: $color-secundario;
      display: inline-block;
      width: 30px;
      height: 30px;
      position:relative;
      margin: 10px 10px;
      cursor: pointer;
  }

  .btn-anim-three span{
      position: absolute;
      height: 3px;
      border-radius: 2px;
      background: $color-blanco;
      -webkit-transition: all .4s ease;
      -moz-transition: all .4s ease;
      transition: all .4s ease;
  }

  .btn-anim-three span.one{
      width: 16px;
      top: 8px;
      left: 7px;
  }
  .btn-anim-three span.two{
      width: 16px;
      top: 14px;
      left: 7px;
  }

  .btn-anim-three span.three{
      width: 16px;
      top: 20px;
      left: 7px;
  }

  .btn-anim-three.closed span.one{
      width: 20px;
      top: 13px;
      left: 5px;
      -webkit-transform: rotate(225deg);
      -moz-transform: rotate(225deg);
      transform: rotate(225deg);
  }

  .btn-anim-three.closed span.two{
      width: 3px;
      left: 12px;
  }
  .btn-anim-three.closed span.three{
      width: 20px;
      top: 13px;
      left: 5px;
      -webkit-transform: rotate(-225deg);
      -moz-transform: rotate(-225deg);
      transform: rotate(-225deg);
  }
}

@media all and (min-width: $desktop-width) {
  .nav-menu{
    float: right;
    list-style: none;
    margin-right: 5%;
  }
  .menu-item {
    display: inline-block;
    margin-left: 2rem;
    display: inline-block;
    cursor: pointer;
  }
  .menu-item-style:hover {
    text-decoration: none;
  }
  .menu-item-style.active {
    color: $color-principal;
  }

  .menu-item-style {
    color: $color-principal;
    font-weight: 400;
    font-size: 0.9rem;
    text-transform: uppercase;
  }
}
