section{
    width: 100%;
}

// HEADER
.header {
  overflow: hidden;
  background-color: $color-gris;
  height:65px;
}

/* PORTADA */

#portada {
  background-color:$color-gris;
  justify-contenet:center;
  vertical-align:middle;
  height: 100vh;
}

.social {
  text-align:center;
  margin:2rem 0;
}

.social a {
  padding: 0 5px;
  width: 40px;
}

/* PROYECTOS */

#proyectos {
    overflow: hidden;
    margin-bottom:2rem;
}

.grid {
  margin: auto;
  max-width: 1100px;
  width: 95%;
}

.grid a {
  display:inline-block;
}

.g-imagenes {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
    -webkit-column-width: 80%;
    -moz-column-width: 80%;
    column-width: 80%;
    text-align:center;
  }

/* PRODUCTO */

#producto {
    padding: 0;
    margin-bottom:2rem;
}

.prod-img {
  text-align:center;
}

.prod-img2 {
  text-align:center;
}

/* ABOUT */

#about {
    background-color: $color-gris;
    padding:0 0 2rem 0;
    overflow: hidden;
}

.about-img {
  text-align:center;
}
.about-img img{
  border-radius: 50%;
  width: 90%;
}
.iconos {
  text-align: center;
}

/* CONTACTO */

#contacto {
  	text-align: justify;
  	font-size: 0;
  	overflow: hidden;
    padding:0;
    background-color:$color-azulclaro;
}

.input {
    font-family: 'Muli', sans-serif;
    font-weight:500;
    font-size: 1rem;
    line-height: 22px;
    background-color: $color-blanco;
    padding: 13px 13px 13px 54px;
    margin-bottom: 10px;
    width:100%;
}

.input:focus{
    background:$color-gris;
    border: 3px solid $color-secundario;
    color: $color-principal;
    outline: none;
    padding: 13px 13px 13px 54px;
}

.focused{
    color:$color-secundario;
    border:$color-secundario solid 3px;
}

  /* Iconos contact form */
#name{
    background-image: url(http://rexkirby.com/kirbyandson/images/name.svg);
    background-size: 30px 30px;
    background-position: 11px 8px;
    background-repeat: no-repeat;
}

#email{
    background-image: url(http://rexkirby.com/kirbyandson/images/email.svg);
    background-size: 30px 30px;
    background-position: 11px 8px;
    background-repeat: no-repeat;
}

#comment{
    background-image: url(http://rexkirby.com/kirbyandson/images/comment.svg);
    background-size: 30px 30px;
    background-position: 11px 8px;
    background-repeat: no-repeat;
}

textarea {
    height: 150px;
    line-height: 150%;
    resize:vertical;
    margin: 0 0 1rem 0;
}

input:hover, textarea:hover,
input:focus, textarea:focus {
    background-color:$color-gris;
}

/* FOOTER */

.footer {
    height: 60px;
    text-align: center;
    overflow: hidden;
    border-top: 1px solid $color-secundario;
    background-color:$color-gris;
  }

/* MQUERYS */
@media only screen and (min-width:$tablet-width) {
  .g-imagenes {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-width: 30%;
    -moz-column-width: 30%;
    column-width: 30%;
  }
}

@media all and (min-width: $desktop-width) {

.header {
    border-bottom:1px solid $color-secundario;
}

.g-imagenes {
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
  -webkit-column-width: 33%;
  -moz-column-width: 33%;
  column-width: 33%;
  }

.prod-img {
  width: 20%;
  float: left;
}

.prod-text {
  width: 70%;
  float: right;
  padding-top:10rem;
}
.prod-img2 {
  width: 20%;
  float: right;
}

.prod-text2 {
  width: 70%;
  float: left;
  vertical-align:middle;
  padding-top:10rem;
}

.prod-text3 {
  width: 70%;
  float: right;
  padding-top:13rem;
}

.about-img {
  width: 40%;
  float: left;
}

.about-img img{
  width: 90%;
  padding-top: 30px;
}

.about-text {
  width: 60%;
  float: right;
  vertical-align:middle;
}

.social {
  text-align:center;
  margin:2rem 0;
}
}